html {
    background-image: url("../imagens/bg.png");
    @import url(https://fonts.googleapis.com/css?family=Montserrat);
    font-family: 'Montserrat', sans-serif;
}

div.central {
    margin: auto;
    width: 90%;
    height: 100%;
}
div.central .topo {
    width: 100%;
    height: 100px;
}

div.central .conteudo {
    width: 100%;
    height: 80%;
}

div.central .conteudo h1{
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    text-align: center;
}

div.central .conteudo .botoes {
    margin: auto;
    text-align: center;
    width: 100%;
}

div.central .conteudo .setores {
    margin: auto;
    text-align: center;
    width: 500px;
}

div.central .conteudo .botoes form {
    text-align: center;
    display: inline-block;
}

div.central .conteudo .setores .botoes form {
    padding-left: 50px;
}

div.central .conteudo .setores .botoes button {
    margin: auto;
    text-align: center;
    width: 200px;
    height: 150px;
    display: inline-block;
    float: left;
}

div.central .conteudo .botoes button {
    width: 200px;
    height: 170px;
    font-size: 30px;
}

div.central .conteudo .botoes select {
    width: 250px;
    height: 50px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

div.central .conteudo .botoes input {
    width: 200px;
    height: 40px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

div.central .conteudo .botoes textarea {
    padding: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

div.central .conteudo .cont {
    margin: auto;
    display: block;
    align-content: center;
    width: 100%;
}


.tabela {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
    margin: auto;
    width: 800px;
}

.tabela h3 {
    text-align: center;
    margin: auto;
}
.tabela th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
}
.tabela td {
    border:1px solid #C0C0C0;
    padding:5px;
}

.tabela-chamado {
    border-top:1px solid #C0C0C0;
    border-left:0px solid #C0C0C0;
    border-right:0px solid #C0C0C0;
    border-bottom:1px solid #C0C0C0;
    border-collapse:collapse;
    padding:5px;
    margin: auto;
    width: 450px;
}

.tabela-chamado h3 {
    text-align: center;
    margin: auto;
}
.tabela-chamado th {
    border-top:1px solid #C0C0C0;
    border-left:0px solid #C0C0C0;
    border-right:0px solid #C0C0C0;
    border-bottom:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
    text-align: right;
}

.tabela-chamado th.resposta {
    text-align: left;
}


.tabela-chamado td {
    border:1px solid #C0C0C0;
    padding:5px;
}

div.central .conteudo .mensagem {
    margin-top: 20px;
    width: 500px;
    background-color: #F0F0F0;
    font-family: 'Montserrat', sans-serif;
}

div.central .conteudo .mensagem h3 {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

div.central .conteudo .mensagem div {
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

div.central .conteudo .interacoes div h4 {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
}

div.central .conteudo .interacoes div.usuario {
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    background-color: #F0F0F0;
}

div.central .conteudo .interacoes div.atendente {
    padding-left: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    background-color: #bababa;
}